/* For all the css styling to be used on the site */
body{
background: url('../img/back.png');
}
#mapcont{
top:100px;
/*width:1450px;
height:800px;
border: 5px solid black;
border-radius: 10px;
background-color: black;
*/overflow:hidden;


}

#map{
height:790px;
border-radius: 10px;
border:2px solid black;

}

.level0, .level1, .level2 {

	/*border:1px solid black;*/
}

.level0 {
	position:absolute;
}

#north{
width:800px;
height: 400px;
left: 400px;
}

#south{
width:1000px;
height: 300px;
top:550px;
left:150px;
}

#east{
width:500px;
height:600px;
left:1000px;
}

#west{
width:500px;
height:400px;
left:100px;
top:175px;
}

#center{
width:500px;
height:400px;
top:200px;
left: 600px;
}